@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-container {
    @apply max-w-screen-xl mx-auto px-4 lg:px-12 py-8 lg:py-16;
  }

  .btn-menu {
    @apply rounded-lg p-2 text-sm text-gray-500 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700
    focus:outline-none focus:ring-1 focus:ring-gray-500 transition duration-500 ease-in-out;
  }

  .header-one {
    @apply font-monument-grotesk text-4xl md:text-5xl lg:text-[140px] font-normal tracking-wide lg:leading-none 
    text-gray-900 dark:text-white;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }
}
